section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px black solid;
    background-color: #efefef;
}

section label {
    font-size: 20px;
    margin: 5px;
}

section input {
    margin: 10px;
}

section button { 
    margin: 10px;
    border-radius: 5px;
}

.reset {
    color: rgb(124, 9, 9);
    font-weight: 600;
    background-color: rgb(248, 35, 35);
    border: 2px rgb(124, 9, 9) solid;
    border-radius: 5px;
}