section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px black solid;
    background-color: #efefef;
}

section label {
    font-size: 20px;
    margin: 5px;
}

section input {
    margin: 10px;
}

section button { 
    margin: 10px;
}