header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 3px rgb(185, 173, 4) solid;
    background-color: rgb(252, 252, 80);
}

header h1 {
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(185, 173, 4);
    /* margin-left: 100px; */
    text-shadow: 0px 1px 2px grey;
}

.link-title {
    text-decoration: none;
    font-family: sans-serif;
    color: grey;
    margin-left: 100px;
    text-shadow: 0px 1px 2px grey;
}

.link-title:hover {
    color: rgb(173, 172, 172);
}

.link-container {
    display: flex;
    margin-right: 100px;
}

.link-item {
    text-decoration: none;
    color: grey;
    text-shadow: 0px 1px 2px grey;
}

.link-item:hover {
    color: red;
    text-shadow: 0px 0px 1px grey;
}