.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

td, th, tr {
    border: 1px black solid;
    padding: 5px;
}

th {
    background-color: #d6d4d4;
}